<!-- <div class="block1"> -->
<h1>Create a new sub!</h1>
<br>

<form action="<%=subs_url%>" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

  <label>
    Title
    <input type="text" name="sub[title]" value="" placeholder="Enter title">
  </label>

  <br>
  <br>

  <label>
    Description
    <textarea name="sub[description]" rows="2" cols="30"></textarea>
  </label>

  <br>
  <br>
  <input type="submit" name="" value="Submit!">

</form>
<!-- </div> -->
